*{
    margin : 0;
    padding: 0;

}

body{
    text-align: center;
    background: linear-gradient(5deg,#f9f6f9, #b695c0, #503459);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

h1{
    font-weight: 500;
    font-size: 60px;
    color: rgb(194, 167, 220);
    text-shadow: 2px 2px 4px rgba(94, 34, 192, 0.5);
}

.contenedor{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(26, 49, 49, 0.9);
}
.celda{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    border: solid #81638b;
    transition: all 0.3s ease-in-out;
}
table{
    border-collapse: collapse;
    border: 5px solid #000;
}

table tr:nth-child(3n) td, 
table tr:nth-child(3n+3) td{
    border-bottom: 3px solid #000;
}

table td:nth-child(3n){
    border-right: 3px solid #000;

}
input{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
button{
    margin : 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#btnresolver{
    background-color: #6469ec;
}
#btnreiniciar{
    background-color: #6469ec;
}

#btnresolver:hover{
    background-color: hsl(283, 71%, 39%);
}
#btnreiniciar:hover{
    background-color: hsl(283, 71%, 39%);
}
.resolverefecto{
    background-color: #b695c0;
    transition: all 0.2s ease-in-out;
    float: left;
}
.entradausuario{
    background-color: #b695c0;

}

footer{
    background-color: #efb1a9;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 0px;
    font-size: 15px;
    color: #000;
}